body {
  background-color: #001016;
  color: gray;
  font-family: Verdana;
}

a:link, a:visited, a:active {
  color: #004248;
  text-decoration: none;
}

a:hover {
  color: #004248;
  text-decoration: underline;
}

ul {
  list-style-position: inside;
  list-style-type: square;
}

.mymy {
  color: #174242;
}